@import 'core/reset';
@import 'components/Header';
@import 'components/CharacterList';
@import 'components/CharacterCard';

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 19px;
  background-color: #3e2e50;
}
