@import 'core/reset';

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 19px;
  background-color: #3e2e50;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px 5%;

  &__logo { 
    width: 360px
  }
}