@import 'core/reset';
@import 'core/variables';

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .check {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__name, &__houses {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__reset {
    padding: 9px 11px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition: .5s;
    font-size: 16px;
    color: $color3;

    &:hover {
      opacity: .7;
    }
  }
}

.input {
  background: transparent;
  padding: 7px 20px;
  border-radius: 10px;
  color:$color3;
  background: $color2;
  border: none;
  font-size: .9em;
}

::placeholder {
  color: $color3;
  opacity: 1;
}

.select {
  padding: 7px 20px;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: $color2;
  flex: 1;
  border-radius: 10px;
  min-width: 200px;
  color: $color3;
  cursor: pointer;
  font-size: .9em;
}